/*
#383838
#066163
#CDBE78
#F2F2F2
*/

/*
#191919
#2D4263
#C84B31
#ECDBBA
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #f2f2f2;
}

/* Header */
#navbar {
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 20px 25px -10px rgba(66, 66, 66, 0.596);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}
#logo-container {
  margin: 10px 15px;
}
#logo-container a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
#logo-img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
#nav-link {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: bold;
  margin: 0 8px;
}
#auth-links {
  margin: 2px 15px;
}
.auth-btn {
  color: #f2f2f2;
  text-decoration: none;
  border: 2px solid #f2f2f2;
  background-color: transparent;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 5px;
  padding: 3px 10px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.auth-btn:hover {
  background-color: #f2f2f2;
  color: #191919;
}
#greeting-text {
  color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
  margin-right: 8px;
}

/* Login/Signup */
#form-container {
  background-color: white;
  width: 25rem;
  margin: 5rem auto;
  border-radius: 10px;
  box-shadow: 0 20px 25px -10px rgb(0 0 0 / 0.1),
    0 8px 10px -10px rgb(0 0 0 / 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#form-title {
  font-size: 30px;
  margin: 2rem 0;
}
.auth-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth-form input {
  width: 21rem;
  margin-bottom: 1rem;
  font-size: 18px;
  padding: 9px 5px;
  border-radius: 10px;
  outline: none;
  border: 2px solid #dadada;
}
.auth-form button {
  width: 21rem;
  margin: 1rem 0;
  font-size: 18px;
  font-weight: bolder;
  padding: 9px 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #2d4263;
  color: white;
  border: 3px solid #2d4263;
  transition: all 150ms ease-in-out;
}
.auth-form button:hover {
  color: #2d4263;
  background-color: transparent;
}
#help-text {
  margin-bottom: 2rem;
}

/* Home */
#home::before {
  background: url("./assets/banner.png") no-repeat top center/cover;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75vh;
  z-index: -5;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.75);
}
#home {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home-title {
  text-transform: capitalize;
  color: white;
  text-align: center;
  font-size: 60px;
  margin-top: 13rem;
}
#ticket-link {
  color: #f2f2f2;
  text-decoration: none;
  border: 2px solid #f2f2f2;
  background-color: transparent;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: bold;
  margin: 15px 5px;
  padding: 5px 35px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
#ticket-link:hover {
  background-color: #f2f2f2;
  color: #191919;
}

/* Loader */
.dots-1 {
  width: 32px;
  height: 32px;
  --c: radial-gradient(
    circle closest-side,
    currentColor 90%,
    rgba(25, 25, 25, 0)
  );
  background: var(--c) 0 0, var(--c) 0 100%, var(--c) 100% 100%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: d1 1s infinite linear;
}
@keyframes d1 {
  25% {
    background-position: 100% 0, 0 100%, 100% 100%;
  }
  50% {
    background-position: 100% 0, 0 0, 100% 100%;
  }
  75% {
    background-position: 100% 0, 0 0, 0 100%;
  }
  100% {
    background-position: 100% 100%, 0 0, 0 100%;
  }
}

/* Admin Dashboard */
#admin-dashboard {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#dashboard-title {
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
#select-container {
  border-bottom: 3px solid #dadada;
  padding-bottom: 2rem;
}
#select-container label {
  font-size: 1.2rem;
}
#dropdown-select {
  font-size: 1.1rem;
  padding: 5px;
  border-radius: 10px;
}

/* Add Form */
.add-form-container {
  background-color: white;
  width: 25rem;
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 0 20px 25px -10px rgb(0 0 0 / 0.1),
    0 8px 10px -10px rgb(0 0 0 / 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-form-title {
  font-size: 30px;
  margin: 2rem 0;
}
.add-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-form input {
  width: 21rem;
  margin-bottom: 1rem;
  font-size: 18px;
  padding: 9px 5px;
  border-radius: 10px;
  outline: none;
  border: 2px solid #dadada;
}
.add-form button {
  width: 21rem;
  margin: 1rem 0;
  margin-bottom: 2rem;
  font-size: 18px;
  font-weight: bolder;
  padding: 9px 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #2d4263;
  color: white;
  border: 3px solid #2d4263;
  transition: all 150ms ease-in-out;
}
.add-form button:hover {
  color: #2d4263;
  background-color: transparent;
}
#movie-select {
  width: 21rem;
  font-size: 18px;
  padding: 9px 5px;
  border-radius: 10px;
  outline: none;
  border: 2px solid #dadada;
  background-color: transparent;
}

/* Running Movie Section */
#running-movies {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title {
  font-size: 2rem;
}
#movies-container {
  width: fit-content;
  margin: 1.5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie-card {
  width: 250px;
  margin: 1.2rem 0.8rem;
  background-color: white;
  border-radius: 10px;
  padding: 2px 10px;
  box-shadow: 0 20px 25px -10px rgb(0 0 0 / 0.1),
    0 8px 10px -10px rgb(0 0 0 / 0.1);
}
.movie-img {
  width: 200px;
  height: 300px;
  display: block;
  margin: 5px auto;
}
.movie-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 5px 0;
}
.movie-stars {
  font-size: 1rem;
  color: #484848;
  margin-bottom: 5px;
}

/* Alert */
#alert {
  width: 100vw;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 4.5rem;
  left: 0px;
  z-index: 20;
}
.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
}
.alert-danger {
  color: #842029;
  background-color: #f8d7da;
}
.alert-warning {
  color: #664d03;
  background-color: #fff3cd;
}

/* Footer */
#footer {
  background-color: #191919;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#copyright {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 10px 0px;
}
#footer a {
  font-size: 1rem;
  margin-bottom: 10px;
}

/* Booking Dashboard */
#booking-dashboard {
  margin-top: 4rem;
}
#booking-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
#show-table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}
#show-table td,
#show-table th {
  border: 1px solid #ddd;
  padding: 8px;
}
#show-table tr:hover {
  background-color: #ddd;
}
#show-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2d4263;
  color: white;
}
.book-btn {
  border: 2px solid #c84b31;
  text-decoration: none;
  color: #c84b31;
  font-weight: bold;
  padding: 2px 10px;
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}
.book-btn:hover {
  background-color: #c84b31;
  color: #f2f2f2;
}
.disabled-link {
  pointer-events: none;
  border-color: gray;
  color: gray;
  background-color: #dadada;
}

/* Ticket Dashboard */
#ticket-dashboard {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#ticket-dashboard h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
#show-details {
  background-color: white;
  width: 30rem;
  font-size: 1.2rem;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  box-shadow: 0 20px 25px -10px rgb(0 0 0 / 0.1),
    0 8px 10px -10px rgb(0 0 0 / 0.1);
  display: flex;
  flex-direction: column;
}
#show-details div {
  font-weight: bold;
  color: #2d4263;
  margin: 10px 0;
}
#show-details span {
  font-weight: normal;
  color: #191919;
}
#pay-btn {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #2d4263;
  border: 2px solid #dadada;
  border-radius: 10px;
  color: #dadada;
  margin: 1rem 0;
  padding: 0.5rem;
  cursor: pointer;
}

/* Ticket Display */
#ticket-display {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#ticket-display h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
